// ==================================================
// Messages
// ==================================================
.message {
  display: table;
}

.avatar,
.body {
  display: table-cell;
  vertical-align: bottom;
}

.body-text,
.timestamp {
  padding: em-calc(10px);
  display: inline-block;
}

// Message
// ==================================================
.message-container {
  overflow: hidden;
  padding-bottom: em-calc(10px);
}

.message {
  min-width: 100%;
  padding: em-calc(5px);
  opacity: 0;
  @include animation-duration(200ms);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(forwards);
}

// Avatar
// ==================================================
$avatar-size: em-calc(46px);

.avatar {
  width: $avatar-size;
}

.avatar-image {
  width: $avatar-size;
  height: $avatar-size;
  border: 1px solid scale-color($ghost, $lightness: -10%);
  border-radius: 50%;
  display: block;
}

// Body
// ==================================================
.body {

}

.body-text {
  max-width: 60%;
  border-radius: em-calc(16px);
  padding-left: em-calc(15px);
  padding-right: em-calc(15px);
  border: 1px solid transparent;
  box-shadow: 0 1px 0 scale-color($ghost, $lightness: -4%);

  img {
    max-width: 100%;
    height: auto;
  }
}

.body-text-separator {
  height: em-calc(7.5px);
}

// Status
// ==================================================
.status {
  text-align: center;
  padding: em-calc(10 0);
}

.status-text {
  font-size: em-calc(15px);
  color: $blue-grey;
  font-weight: bold;
  text-shadow: 0 1px 0 $white;
}

// Timestamp
// ==================================================
.timestamp {
  color: $blue-grey;
  text-shadow: 0 1px 0 $white;
  opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(200ms);
  @include transition-delay(150ms);
  @include transition-timing-function(ease);
}

// Modifiers
// ==================================================
.message:hover {
  .timestamp {
    opacity: 1;
  }
}

.message--in {
  @include animation-name(message-incoming);

  .body {
    padding-left: em-calc(10px);
  }

  .body-text {
    color: $black;
    background: $white;
    border-color: $border-color;
  }
}

.message--out {
  float: right;
  @include animation-name(message-outgoing);

  .body {
    text-align: right;
    padding-right: em-calc(10px);
  }

  .body-text {
    color: $white;
    background: $blue;
    border-color: $blue-border-color;
  }
}

// Keyframes
// ==================================================
@include keyframes(message-incoming) {
  0% {
    opacity: 0;
    @include transform(translateX(em-calc(-100)));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(message-outgoing) {
  0% {
    opacity: 0;
    @include transform(translateX(em-calc(100)));
  }
  100% {
    opacity: 1;
    @include transform(translateX(0));
  }
}