<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Simple</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.SimpleSuh</string>
	<key>DefaultFontFamily</key>
	<string>Helvetica</string>
	<key>DefaultFontSize</key>
	<string>12</string>
	<key>MessageViewVersion</key>
	<integer>4</integer>
</dict>
</plist>
